body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	background: white;
	color: rgb(51 65 85);
}

.hero {
	padding: 6rem;
	margin: 0 auto;
	height: 100vh;
	font-size: 1.5rem;
}

.key-features {
	padding: 2rem;
}

h1, h2, h3 {
	margin: 0;
	margin-bottom: 1rem;
	font-family: 'Host Grotesk', 'Lato', sans-serif;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	font-weight: normal;
}

h2, h3 {
	font-weight: normal;
}

.coming-soon {
	margin-top: 1rem;
	font-size: 1.5rem;
}

.ml-embedded {
	margin-left: -20px; 
	margin-top: 3rem;
}